<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<form action="#" method="POST">
	<table>
	Calculadora
	<tr><td><input type="text" name="numero1"></td></tr>
	<tr><td><input type="text" name="numero2"></td></tr>
	<tr><td><input type= "submit" name="selector" value="suma"></td></tr>
	<tr><td><input type= "submit" name="selector" value="resta"></td></tr>
	<tr><td><input type= "submit" name="selector" value="divi"></td></tr>
	<tr><td><input type= "submit" name="selector" value="mul"></td></tr>
	</table>
</form>
</body>
</html>
