<div>
<form action="#" method="POST">
    <fieldset>
        <br/>Resultado:
        <input type="text" name="resultado" value="<tmpl_var name=resultado>" placeholder="Direccion IP"/>
        <input type=submit name ="selector" value ="menu"/>
    </fieldset>
</form>
</div>
